body {
 padding-bottom: 70px;
  }
.center {
	margin: auto;
	
/*}
#set {
	height: 400px;
	width: 300px;
}*/
/*#set1 {
	height: 400px;
	width: 300px;
}
#set2 {
	height: 400px;
	width: 300px;
}
#set3 {
	height: 400px;
	width: 300px;
}*/